<div class="container">
  <h1>Your stupid coach</h1>

  <p><%= @question %></p>
  <p>You</p>
  <br>
  <p><%= @answer %></p>
  <p>Your coach</p>

  <%= link_to "Ask another question", ask_path %>
</div>
