<div class="container">
  <div>
    <h1>Your stupid coach</h1>
    <h2>Ask your coach anything</h2>
  </div>
  <div>
    <form action="/answer">
      <input type="text" name="question">
      <input type="submit" value="Ask!">
    </form>
  </div>
